body{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

html, body{
	max-width:100%;
    max-height:100%;
    overflow:hidden;
}

.shadergame-app{
	max-width:100%;
	overflow:hidden;
}

h1,h2,h3{
    margin-top:20px;
    margin-bottom:20px;
    font-weight:300;
}    

h1{
    font-size:40px;
    font-weight:300;
	margin-bottom:40px;
    margin-bottom:50px;
    margin-left:10px;
    margin-right:20px;
    color:#000;
    line-height:40px;
	text-align:center;
}

header a{
    color:#fff;
    text-decoration:none;
}

p,ul{
    margin-left:10px;
}

.inline-block{
    display:inline-block;
    vertical-align:top;
    margin:0;
}

.fragment-error-pre{
    font-size:15px;
    color:red;
    width:50%;
}

pre{
	position:absolute;
	top:40px;
	z-index:-1;
	height:400px;
}

.game-canvas{
    display:block;
    margin:auto;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
    display:block;
    margin:auto;
    border:none;
    background:#3af;
    color:#fff;
    padding:10px;
    font-size:16px;
    cursor:pointer;
}

.points-display{
	position:absolute;
	top:60px;
	right:40px;
	line-height:25px;
	font-size:40px;
	color:#ff2;
}

.points-to-beat-display{
	position:absolute;
	top:140px;
	right:40px;
	line-height:16px;
	text-align:right;
	font-size:13px;
	color:#ff2;
}

.bonus-display,
.antibonus-display{
	position: absolute;
	top:50%;
	left:0;
	text-align:center;
	color:#ff4;
	font-size:150px;
	width:100%;
	margin:auto;
	line-height:0;
	opacity:0;
}

.antibonus-display{
	color:#f31;
}

@keyframes pointsup {
    0% {
		transform: scale(2.0) translateX(-20%) translateY(20%);
 	}
    100% {
 		transform: scale(1.0);
 	}
}

.points-up-anim{
    animation-name: pointsup;
    animation-duration: 1s;
}

@keyframes bonusanim {
    0% {
		transform: scale(1.0);
		opacity:0.2;
	}
    50% {
		transform: scale(0.5);
		opacity:1.0;
	}
	100% {
		opacity:0.0;
	}
}

.bonus-anim{
    animation-name: bonusanim;
    animation-duration: 0.5s;
}

.antibonus-anim{
    animation-name: bonusanim;
    animation-duration: 2.0s;
}

.lives{
	position:absolute;
	top:20px;
	right:40px;
}

.life{
	width:40px;
}

.menu{
	position:absolute;
	top:2px;
	left:2px;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.8);
	box-sizing:border-box;
	padding:30px;
}

.menu-button{
	padding:20px;
	background:rgba(255,255,255,0.5);
	border-radius:15px;
	cursor:pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display:inline-block;
	font-size:15px;
	font-weight:700;
}

.menu-button:hover{
	background:rgba(255,255,255,0.8);
}

.your-score{
	font-size:40px;
	color:#fe7;
	text-shadow:2px 2px 0 #441;  
}

.current-highscore{
	font-size:11px;
	color: #333;
}

.left-keyboard{
	position:absolute;
	bottom:6px;
	left:0;
	cursor:pointer;
}

.right-keyboard{
	position:absolute;
	bottom:6px;
	right:0;
	cursor:pointer;
}

.up-keyboard{
	position:absolute;
	bottom:6px;
	right:100px;
	cursor:pointer;
}
