<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ShaderGame</title>
		<link rel="stylesheet" href="css/base.css?version=1.0.3">
		<link rel="stylesheet" href="css/style.css?version=1.0.3">
	</head>
	<body>
		<audio name="coinsound">
			<source src="music/8bitcoin.mp3" type="audio/mpeg">
		</audio>
		<audio name="failsound">
			<source src="music/fail.mp3" type="audio/mpeg">
		</audio>
		<audio name="boomsound">
			<source src="music/boom.mp3" type="audio/mpeg">
		</audio>
		<audio loop name="music">
			<source src="music/bct/BigCarTheft.mp3" type="audio/mpeg">
		</audio>
		<canvas class="game-canvas" v-on:mousemove="canvas_mousemove"></canvas>
		<div id="shadergame-app" class="page-content vertical-scroll-parent">
			<div v-if="status == 1">
				<p class="points-display">
					{{ points }}
				</p>
				<div class="lives">
					<img class="life" v-for="live in lives" src="images/rocket.png">
				</div>
			</div>
			<div class="bonus-display">
			</div>
			
			<pre class="fragment-error-pre">
			</pre>
			<pre class="vertex-error-pre">
			</pre>
			<div class="menu" v-if="status == 0">
				<h1>ShaderRocket</h1>
				<p class="text-center your-score" v-if="games > 0" >
					You scored {{points}} points!
				</p>
				<div class="text-center">
					<img src="images/play.png" class="menu-button play-img"
						 v-on:click="start">
				</div>
			</div>
		</div>
		<script name="vertex-shader" type="text/plain">// Vertex Shader
attribute vec3 position;
varying vec2 UV;
varying vec2 lastUV;
varying vec3 v_position;
uniform vec2 renderBufferRatio;
			
void main(){
	v_position = position;
	UV = vec2((position.x+1.0) / 2.0, (position.y + 1.0)/2.0);
	lastUV = UV / renderBufferRatio;
	gl_Position = vec4(v_position.x,v_position.y, 0.0, 1.0);
}
		</script>
		
		<script src="js/lib/vue.js?version=1.0.3"></script>
		<script src="js/lib/base.js?version=1.0.3"></script>
		<script src="js/shadergame.js?version=1.0.3"></script>
	</body>
</html>
